html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

#container {
  display: flex;
  flex-wrap: wrap;
  width: min(90vw, 90vh);
  height: min(90vw, 90vh);
  border: 1px solid #add8e6;
}

#resize-button {
  background-color: transparent;
  border: 2px solid #007bff;
  padding: 10px 20px;
  margin: 10px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#resize-button:hover {
  background-color: #007bff;
  color: white;
}

.grid-item {
  opacity: 1;
}
